<h2>Hello</h2>
<div class="row">
	<% @products.each do |p| %>
<div class="col-md-3">
	<div>
		<%= p.title %>
	</div>	
	<div>
		<img src="<%= p.path_to_image %>"/>
	</div>	
	<div>
		<%= p.description %>
	</div>
	<div>
		Price: <%= p.price %> usd
	</div>
	<div>
		Size: <%= p.size %> sm
	</div>
	<div>
<!--		<button class="btn btn-sm btn-success" onclick="alert('Hello!')">Buy!</button> это для проверки -->
<button class="btn btn-sm btn-success" onclick="add_to_cart(<%= p.id %>)">Buy!</button>
	</div>
	</div>
<% end %>

</div>	
<br />
<button class="btn btn-primary" onclick="something()">Click here!</button>
<!-- <button class="btn-primary btn-large">Click here!</button> КНОПКА плоская с тенью :-) -->

<script type="text/javascript">
	$(function() {
update_orders_input();
update_orders_button();
	});
</script>
